# =========================
# NODE / BACKEND
# =========================
node_modules/

# Environment variables
.env

# =========================
# DATABASE
# =========================
*.sql
*.sqlite
*.db
.env


# =========================
# LOG FILES
# =========================
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# EDITORS / IDEs
# =========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# =========================
# BUILD / CACHE
# =========================
dist/
build/
.cache/

# =========================
# FRONTEND
# =========================
coverage/
